<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Suvey Form</title>
  </head>
  <body>
    <h5> Submitted Information</h5>
    <p> Name: <%= user_data.name %></p>
    <p> Dojo Location: <%= user_data.dojo_location %></p>
    <p> Favorite Location: <%= user_data.favorite_language %></p>
    <p> Comment:  <%= user_data.comment %></p>
  </body>
</html>
